<h1>Welcome to the Stock Trading App!</h1>

<% if user_signed_in? %>
  <p>Hello, <%= current_user.email %>!</p>
  <% if current_user.admin? %>
    <p><%= link_to 'Go to admin dashboard', admin_dashboard_path, method: :get %></p>
  <% end %>
  <p><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></p>
<% else %>
  <p><%= link_to 'Sign in', new_user_session_path %></p>
  <p><%= link_to 'Sign up', new_user_registration_path %></p>
<% end %>

<div>
  <h2>Stocks We Support</h2>
  <% if @iex_symbols.any? %>
    <ul id="stock-list">
      <% @iex_symbols.each_slice(1).with_index do |slice, index| %>
        <li class="stock-group <%= 'active' if index == 0 %>" style="<%= 'display: none;' unless index == 0 %>">
          <% slice.each do |symbol| %>
            <%= "#{symbol[:symbol]} - #{symbol[:name]}" %><br>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No stock data available.</p>
  <% end %>
</div>

<script>
  const groups = document.querySelectorAll('.stock-group');
  let current = 0;

  setInterval(() => {
    groups[current].style.display = 'none';
    current = (current + 1) % groups.length;
    groups[current].style.display = 'block';
  }, 2000);
</script>


<h1>Top 10 Stocks</h1>

<% if @top_symbols.any? %>
  <table>
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Company Name</th>
        <th>Primary Exchange</th>
        <th>Open</th>
        <th>Close</th>
        <th>Latest Volume</th>
        <th>Market Cap</th>
      </tr>
    </thead>
    <tbody>
      <% @top_symbols.each do |stock| %>
        <tr>
          <td><%= stock[:symbol] %></td>
          <td><%= stock[:company_name] %></td>
          <td><%= stock[:primary_exchange] %></td>
          <td><%= number_to_currency(stock[:open]) %></td>
          <td><%= number_to_currency(stock[:close]) %></td>
          <td><%= number_with_delimiter(stock[:latest_volume]) %></td>
          <td><%= number_to_currency(stock[:market_cap]) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No stock data available.</p>
<% end %>

<div>
  <h2>Stock Market List</h2>
  <% if @stock_market_list %>
    <ul>
      <% @stock_market_list.each do |data| %>
        <li>
          <%= "#{data[:symbol]}: Company Name: #{data[:company_name]}, 
          Primary Exchange: #{data[:primary_exchange]}, 
          Latest Price: #{data[:latest_price]}, 
          Change Percent: #{data[:change_percent]}, 
          Market Cap: #{data[:market_cap]}" %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No stock market data available.</p>
  <% end %>
</div>
