  <h2>User: <%= @user.name %></h2>
  <h3>Adjusted Asset Balance: <%= number_to_currency(@asset_balance) %></h3>

<% if stock.present? %>
  <div>
    <h3><%= stock[:symbol] %> - <%= stock[:company_name] %></h3>
    <% if stock[:logo_url].present? %>
      <img src="<%= stock[:logo_url] %>" alt="<%= stock[:company_name] %> logo" />
    <% end %>
    <p>Latest Price*: <%= number_to_currency(stock[:latest_price]) %></p>
    <small>* 15 minute delayed price</small>

    <% stock_record = Stock.find_by(symbol: stock[:symbol]) %>
    <% user_stock_portfolio = @user.portfolios.find_by(stock_id: stock_record&.id) %>
    <p>Shares Owned: <%= user_stock_portfolio&.share || 0 %></p>

    <%= form_with url: trader_portfolio_path, method: :post, local: true do |f| %>
      <%= f.hidden_field :symbol, value: stock[:symbol] %>
      <%= f.label :quantity, 'Number of shares' %>
      <%= f.number_field :quantity, min: 1 %>
      <%= f.submit "Buy", name: 'commit', value: 'Buy' %>
      <%= f.submit "Sell", name: 'commit', value: 'Sell' %>
    <% end %>
  </div>
<% else %>
  <p>Stock is disabled or invalid. Go back to your portfolio to select a valid stock.</p>
<% end %>

  <p><%= link_to 'Back to my portfolio', trader_portfolio_path, method: :get %></p>
