<div class="container mt-3">
  <h1>
    <%= image_tag 'side board.png', alt: 'Equisphere Logo', class: 'logo-inline' %>
    All Transactions
  </h1>

  <table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th>Trader</th>
        <th>Transaction_type</th>
        <th>Amount</th>
        <th>
          Date & Time
          (yyyy-mm-dd time zone)
        </th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.user.name %></td>
          <td><%= transaction.transaction_type %></td>
          <td><%= transaction.transaction_price %></td>
          <td><%= transaction.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

   <%= link_to 'Back to admin dashboard', admin_dashboard_path %>
</div>