<!-- app/views/admin/users/new.html.erb -->

<h1>Create New Trader</h1>

<%= form_with(model: @trader, url: admin_users_path, method: :post) do |form| %>
  <div class="field">
    <%= form.label :email %><br />
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :yob, "Year of Birth" %><br />
    <%= form.number_field :yob %>
  </div>
  <br />
  <div class="field">
    <%= form.submit "Create Trader" %>
  </div>
<% end %>
